Welcome to the review of vectors and matrices. Vectors and matrices provide a foundation for various mathematical operations, your understanding of them will be essential for effectively exploring and interpreting real-world social data. By the end of this review, I hope you'll be familiar with basic data manipulation and get a feel for how powerful they can be.

## Learning goals
Refresh your knowledge of vectors and matrices:
- Vector (column) addition, subtraction, multiplication
- Data merging and deleting
- Data filtering and grouping

# Background story

At the end of one year, a trading company has hired you to help them calculate their trading results. The company is connecting to a large number of buyers, each of them has bought a number of products from them. The products of the company are in three different categories: Toys, Decorations and Clothing. For each product, they recorded its price (as Unit_Price in the unit of dollars) and the quantity sold (Sales_Quantity). They also inclueded its price and the quantity sold last year (as Unit_Price_Last_Year and Sales_Quantity_Last_Year). The recorded data is stored in the table "data_company_A_external.csv".

Use your knowledge of vector manipulation to help them in the following questions.

Note: All the data in this file are not real data, the actual situation will be more complicated than this.

In [42]:
import base64
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [43]:
# Read your data
external_df = pd.read_csv('data_company_A_external.csv')
external_df

,Buyer_ID,Product_Index,Category,Unit_Price,Sales_Quantity,Unit_Price_Last_Year,Sales_Quantity_Last_Year
0,KISSJ,15796,Decorations,0.93,13585,0.93,13585
1,KISSJ,15797,Decorations,2.31,7980,2.31,7980
2,KISSJ,15798,Toys,12.18,2153,12.18,2153
3,KISSJ,15799,Toys,1.46,21601,1.46,21601
4,KISSJ,15800,Decorations,4.23,9513,4.23,9513
...,...,...,...,...,...,...,...
615,UFNJI,15894,Toys,12.21,3676,12.21,3676
616,UFNJI,15895,Decorations,2.61,13367,2.61,13367
617,UFNJI,15896,Decorations,3.11,15458,3.11,15458
618,UFNJI,15897,Decorations,1.45,9923,1.45,9923
619,UFNJI,15898,Toys,0.63,8576,0.63,8576

# Bronze medal: Vector (column) addition, multiplication

a) As an important parameter of the trading status for this year, they wish they can know their total sales value for this year. The sales value of one product is the unit price ($) times the sales quantity (number). The value of total sales is the value of all product sales combined. And this is exactly the dot product of vectors.

In other words, the equations of sales are:

#### $\text{Sales}_{\text{ for one product}} = \text{Unit Price} \times \text{Sales Quantity}$

#### $\text{Total Sales} = \text{Sum of sales for all products}$

If $V_{\text{Unit Price}}$ is the vector representing all unit price, and $V_{\text{Sales Quantity}}$ is the one for sales quantity, the equation will be:

### $V_{\text{Total Sales}} = V_{\text{Unit Price}} \cdot V_{\text{Sales Quantity}}$

Can you help them calculate their total sales for this year? (Try to manipulate on the entire column rather than each product)

In [44]:
unit_price = external_df["Unit_Price"]
sales_quantity = external_df["Sales_Quantity"]

def compute_total_sales(df):
    sales_one_product = unit_price*sales_quantity
    total_sales = np.sum(sales_one_product)
    return total_sales

print("The total sales this year is: {:.2f}".format(compute_total_sales(external_df)))

The total sales this year is: 20348107.40

In [45]:
# Run the following code to show one of the possible answer
print(base64.b64decode("ZGVmIGNvbXB1dGVfdG90YWxfc2FsZXMoZGYpOgogICAgdG90YWxfc2FsZXMgPSBkZlsnVW5pdF9QcmljZSddLmRvdChkZlsnU2FsZXNfUXVhbnRpdHknXSkKICAgIHJldHVybiB0b3RhbF9zYWxlcwoKVGhlIHRvdGFsIHNhbGVzIHRoaXMgeWVhciBpczogMjAzNDgxMDcuNDA=").decode())

def compute_total_sales(df):
    total_sales = df['Unit_Price'].dot(df['Sales_Quantity'])
    return total_sales

The total sales this year is: 20348107.40

b) Their data also contains information from last year. So we can calculate growth and growth rate of total sales compared to last year.

The growth and growth rate are parameters that describes how much a particular variable, like total sales here, has grown over a period of time. Growth of total sales is calculated by subtracting the total sales of the previous year from the total sales of the current year. It answers the question, "By how much did our sales figures change when compared to last year?"

Mathematically, the formula to calculate sales growth is:

$ \text{Growth} = \text{Total Sales This Year} - \text{Total Sales Last Year} $

And growth rate is typically expressed as a percentage of the initial value and can be calculated using the formula:

$ \text{Growth Rate} = \left( \frac{{\text{Growth}}}{{\text{Total Sales Last Year}}} \right) \times 100 $

Can you help them calculate what the growth and growth rate?

In [46]:
unit_price_lastyear = external_df["Unit_Price_Last_Year"]
sales_quantity_lastyear = external_df["Sales_Quantity_Last_Year"]
total_sales_lastyear = unit_price_lastyear.dot(sales_quantity_lastyear)

def compute_growth(df):
    growth = total_sales-total_sales_lastyear
    return growth

def compute_growth_rate(df):
    growth_rate = (growth/total_sales_lastyear)*100
    return growth_rate

print("Growth: {:.2f}".format( compute_growth(external_df)))
print("Growth Rate: {:.2f} %".format( compute_growth_rate(external_df)))

Growth: 137616.03
Growth Rate: 0.68 %

# Silver medal: Database merging and deleting

a) In a further step, the company wanted to know how much money it had made this year. For this purpose, they provide another internal dataset for this year that captures the profit margin for each product, the promotional inputs they spend, and fixed costs as the sum of other expenses.

The equation for the total profit is:

### $\text{Total Profit} = \sum \left( \text{Sales} \times \text{Profit Margin} - \text{Fixed Costs} \right)$

The sales here is the sales for one prodoct, and the summation sumes over all products.

Can you combine these two sets of data into one and calculate the total profit?

In [47]:
# You may need to import the internal data
# TO DO

In [48]:
# You can combine these two sets of data here
merged_df = None # TO DO

In [49]:
# Start to calculate the total profit
def compute_total_profit(merged_df):
    # TO DO
    pass
    return # TO DO

print(f"Total Profit: {compute_total_profit(merged_df):.2f}")

TypeError: unsupported format string passed to NoneType.__format__

b) Two buyers (buyer IDs: "IFKKSE" and "IFYWAB") cancelled their orders on short notice. In this case we would like to delete the corresponding products and calculate the new profit.

In [ ]:
# Start to calculate new profit after removing certain buyers
def compute_profit_delete(df):
    # TO DO
    pass
    return # TO DO

print(f"New Profit: {compute_profit_delete(merged_df):.2f}")

c) While in practice, it is often not possible to simply delete entries from the database. Technically, this can cause problems for other functions that depend on the entry. And in the commercial sector, there are often additional trading rules to solve these problems.

Now let's assume that a common treatment taken by this company is to return the products to the manufacturer. And when they return the corresponding products to the manufacturer, the manufacturer refunds them only 80% of the unit price.

Can you calculate the profit in this case? Do you need to re-import the database when you complete this step?

In [ ]:
# Start to calculate profit with refunds from manufacturer
def compute_profit_refund(df):
    # TO DO
    pass
    return # TO DO

print(f"Profit with Adjustments: {compute_profit_refund(merged_df):.2f}")

# Gold medal: Data filtering and grouping

a) We would like to discover further information hidden in the data. Can you plot sales against promotional inputs and check if some kind of pattern exists? 

If you have found some patterns, you can move on to the next question. If not, at the end of this content (the part marked by *) we have provided two hints for you to use at your leisure.

(Note again, the patterns in this question is not the actual law of the market.)

b) According to the observed patterns, if there is a product belonging to the "Decorations" category and the company spends $15,000 on its promotional input, how many sales can be expected? (Try to estimate its value, or choose an answer from the following options)

In [ ]:
# start estimating the sales, you could import other package if you want.
def estimate_sales(df):
    # TO DO
    pass
    return # TO DO

# Select an answer for the sales prediction, pay attention that the dictionary key is capitalized.
def select_answer(df):
    answer_ranges = {
        'A': 'Between 30000 and 34000',
        'B': 'Between 34000 and 38000',
        'C': 'Between 38000 and 42000',
        'D': 'Between 42000 and 46000',
        'E': 'Between 46000 and 50000',
        'F': 'Between 50000 and 60000',
    }
    return # TO DO, solution can be selected here

if select_answer(merged_df) is None:
    print("Estimated sales for a Decorations product with $15,000 in promotional inputs: {:.2f}".format(estimate_sales(merged_df)))
else:
    print("Estimated sales for a Decorations product with $15,000 in promotional inputs: {:s}".format(select_answer(merged_df)))

*: Here are two hints for the gold Medal, they will make this task easier. You can try to find the pattern by yourself and then check the hints at some point later.

In [ ]:
# Run the following code to show hint 1
print(base64.b64decode("SGludCAxOiBUaGUgdGFibGUgY29udGFpbnMgYWxsIGtpbmRzIG9mIHByb2R1Y3RzIG9mIHRoZSBjb21wYW55LCB3aGljaCBtYXkgYWxzbyBjb250YWluIHNwZWNpYWwgcHJvZHVjdHMgb3IgcHJvZHVjdHMgc29sZCB0aHJvdWdoIHNwZWNpYWwgbWV0aG9kcy4gU3VjaCBwcm9kdWN0cyBhcmUgY2hhcmFjdGVyaXplZCBieSB0aGUgZmFjdCB0aGF0IHRoZXkgd2lsbCB1c3VhbGx5IGhhdmUgZXhjZXB0aW9uYWxseSBoaWdoIG9yIGxvdyBwcm9maXQgbWFyZ2lucy4=").decode())

In [ ]:
# Run the following code to show hint 2
print(base64.b64decode("SGludCAyOiBEaWZmZXJlbnQgcHJvZHVjdCBjYXRlZ29yaWVzIGhhdmUgZGlmZmVyZW50IG1hcmtldHMgYW5kIG1heSBoYXZlIGRpZmZlcmVudCBwYXR0ZXJucy4=").decode())